<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <group groupName="ExperienceProfileContactDataSourceQueries">
        <pipelines>
          <goals-query>
            <!-- Replaces the existing GetGoals processor to include the descrption when retrieving goals -->
            <processor patch:instead="*[@type='Sitecore.Cintel.Reporting.ReportingServerDatasource.Goals.GetGoals, Sitecore.Cintel']"
                type="JonathanRobbins.DisplayGoalContext.Reporting.ReportingServerDatasource.Goals.GetGoals, JonathanRobbins.DisplayGoalContext" />
          </goals-query>
        </pipelines>
      </group>

      <group groupName="ExperienceProfileContactViews">
        <pipelines>
          <goals>
            <!-- Comes after construction the Goals DataTable to add an additional column for the description -->
            <processor patch:after="*[@type='Sitecore.Cintel.Reporting.Contact.Goal.Processors.ConstructGoalsDataTable, Sitecore.Cintel']"
              type="JonathanRobbins.DisplayGoalContext.Reporting.Contact.Goals.Processors.AddGoalDescriptionColumn, JonathanRobbins.DisplayGoalContext" />

            <!-- Comes after populating the DataBase with Query Data such that the description column is also populated -->
            <processor patch:after="*[@type='Sitecore.Cintel.Reporting.Contact.Goal.Processors.PopulateGoalsWithXdbData, Sitecore.Cintel']"
              type="JonathanRobbins.DisplayGoalContext.Reporting.Contact.Goals.Processors.FillGoalDescription, JonathanRobbins.DisplayGoalContext" />
          </goals>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>